@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  color: #000000;
}

::selection {
  background: #23A745;
}

.degradedGreen {
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(34, 167, 69, 0.5);
  padding: 5px 0;
}


.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: rgba(210, 218, 219, 0.6) !important;
}

.slider-horizontal {
  display: flex;
  animation: swipe 5000ms linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
