@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  @apply bg-white text-black;
  margin: 0;
  padding: 0;
}

.dark body {
  @apply bg-black text-white;
}
/* body {
  background-color: #FFFFFF;
  color: #000000;
} */

::selection {
  background: #23A745;
}

.degradedGreen {
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(34, 167, 69, 0.5);
  padding: 5px 0;
}


.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: rgba(210, 218, 219, 0.6) !important;
}

.slider-horizontal {
  display: flex;
  animation: swipe 5000ms linear infinite backwards;
}

.transition-width-height {
  transition: right 1s;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.binance-box {
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0 0 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.dark .binance-box {
  box-shadow: rgba(116, 238, 134, 0.25) 0px 50px 100px -20px, rgba(239, 241, 239, 0.862) 0px 30px 60px -30px, rgba(178, 248, 182, 0.35) 0px -2px 6px 0px inset;
}
.box-feature {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}  
